@import 'colors';
@import 'dimensions';
@import 'PurchasePage.scss';


#root {
  .footer {
    left: 0;
    right: 0;
    bottom: 0;
    height: $footer-height;
    background-color: $theme-color;
    @include flex-list-col;
  }
}
