.form-body {
  text-align: center;
  margin: 40px 20px;

  .form-title {
    margin-bottom: 10px;
  }

  .form-row {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .message-box {
    margin-top: 10px;
  }
}
