@import 'colors';
@import 'dimensions';

.invoice-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .page-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .page.container-fluid {
    border: 2px solid black;
    background-color: $grey-color;
    width: 450px;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
    align-items: left;
    justify-content: left;
  }
  .row {
    margin-top: 10px;
  }
  button {
    margin-top: 20px;
    background-color: $theme-color;
    color: white;
    font-size: $scorecalculator-size;
    border: none;
    padding: 10px;
  }
}
