@import 'colors';
@import 'dimensions';

.logout-container, .registration-container {
  max-width: calc($max-page-width / 2);
  margin: 40px auto;

  .page-title {
    color: $theme-color;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  .form-row {
    margin: 20px 0;

    &.message {
      display: block;
      text-align: center;

      a {
        text-decoration: underline !important;
      }
    }
  }

  .message-box {
    margin-top: 10px;
  }
}
