.product-filter {
  overflow: hidden;

  .filter-top-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px;
    z-index: 2;
    background-color: white;

    button {
      .button-text {
        margin-right: 5px;
      }
    }

    input {
      flex: 1;
      margin-left: 10px;
    }
  }

  .filter-content {
    position: relative;
    z-index: 1;

    &.showing {
      height: 100%;
      transform: translateY(0);
      transition: height .2s ease-in-out, transform .2s ease-in-out;
    }

    &.hidden {
      height: 0;
      transform: translateY(-100%);
      transition: height .2s ease-in-out, transform .2s ease-in-out;
    }

    .form-row {
      display: flex;
      flex-direction: column;
      margin: 10px;

      &.score {
        display: flex;
        flex-direction: row;

        .score-container {
          display: flex;
          flex-direction: column;

          &:first-child {
            margin-right: 10px;
          }

          .score-container-2 {
            display: flex;
            flex-direction: row;

            input[type=text] {
              width: 40px;
              margin-right: 10px;
              padding: 8px;
            }
          }
        }
      }

      .status-checkbox-container {
        display: flex;
        flex-direction: row;

        .form-check {
          margin-right: 10px;
        }
      }
    }

  }
}
